.ticket__field {
	display: flex;
	flex-direction: column;
	gap: 12px;
	&-header {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&-name {
		flex-shrink: 0;
		font-size: 14px;
		line-height: 16px;
		& + div {
			position: relative;
		}
	}
	&-check {
		position: absolute;
		transform: translateY(-50%);
		stroke: var(--yelow);
		opacity: 0;
		&.show {
			opacity: 1;
		}
	}
	&-cross {
		position: absolute;
		transform: translateY(-50%);
		stroke: var(--red);
		opacity: 0;
		&.show {
			opacity: 1;
		}
	}
	&-grid {
		display: grid;
		grid-template-columns: repeat(5, 48px);
		gap: 8px;
		justify-content: space-between;
		&.justifyStart {
			justify-content: flex-start;
		}
	}
}

@media (min-width: 376px) {
	.ticket__field-grid {
		grid-template-columns: repeat(6, 48px);
	}
}
@media (min-width: 432px) {
	.ticket__field-grid {
		grid-template-columns: repeat(7, 48px);
	}
}
@media (min-width: 488px) {
	.ticket__field-grid {
		grid-template-columns: repeat(8, 48px);
	}
}
@media (min-width: 500px) {
	.ticket__field {
		gap: 24px;
		&-header {
			gap: 12px;
		}
		&-name {
			font-size: 20px;
			line-height: 24px;
		}
		&-check {
			width: 24px;
			height: 24px;
		}
		&-cross {
			width: 24px;
			height: 24px;
		}
		&-grid {
			grid-template-columns: repeat(5, 64px);
			gap: 16px;
		}
	}
}
@media (min-width: 560px) {
	.ticket__field {
		&-grid {
			grid-template-columns: repeat(6, 64px);
		}
	}
}
@media (min-width: 640px) {
	.ticket__field {
		&-grid {
			grid-template-columns: repeat(7, 64px);
		}
	}
}
